*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --primary-color: #DE2A04;
}
    
body {
    font-family: calibri;
    font-size: 18px;
    line-height: 1.5;
}

a {
    text-decoration: none;
    color: black;
}

ul {
    list-style: none;
}

img {
    max-width: 100%;
}

/* Utility Classes */

.container{
    max-width: 1100px; /* default for now */
    margin: 0 auto;
    padding: 0 15px;
    display: flex;
}

.container-sm{
    max-width: 800px; /* default for now */
    margin: 0 auto;
    padding: 0 15px;
}

/* Nav Bar */

.navbar{
    padding: 20px;      
}

.navbar .container {
      display: flex;
      justify-content: space-between;
      align-items: center;
}

.navbar .menu-options ul{
    display: flex;
}

.navbar ul li a {
    padding: 10px 20px;
    display: block;
    font-weight: 600;
    transition: 0.5s;
}

.navbar ul li a:hover {
    color: var(--primary-color);
}

.navbar ul li a i {
    margin-right: 10px;
}

.navbar ul li:last-child a {
    margin-left: 10px;
}
  
/* Buttons */

.btn {
    /* temp */
    display: inline-block;
    padding: 8px 15px;
    background: transparent; 
    color: var(--primary-color);
    border:2px solid var(--primary-color);
    border-radius: 8px;
    cursor: pointer;
    transition: 0.1s;
}

.btn:hover {
    opacity: 0.85;
    color: #b11f00;
    border: 2px solid #b12f00;
}

.btn-primary{
    background: red;
}

/* Logo */

.logo{
    transition: 0.5s;
    font-weight: 800;
}


/* Text Classes */ 

.text-xxl {
    font-size: 3rem;
    line-height: 1.2;
    font-weight: 600;
    margin: 40px 0 20px;
}

.text-xl {
    font-size: 2.2rem;
    line-height: 1.4;
    font-weight: normal;
    margin: 40px 0 20px;
}

.text-lg {
    font-size: 1.8rem;
    line-height: 1.4;
    font-weight: normal;
    margin: 30px 0 20px;
}

.text-md {
    font-size: 1.2rem;
    line-height: 1.4;
    font-weight: normal;
    margin: 20px 0 10px;
}

.text-sm {
    font-size: 0.9rem;
    line-height: 1.4;
    font-weight: normal;
    margin: 10px 0 5px;
}

.text-center{
    text-align: center;
}

/* Hero */

.hero {
    position: relative;
    width: 100%;
    max-width: 1100px;
    margin: 0 auto;
}

.hero img{
    width: 100%;
    height: 400px;
    object-fit: cover;
    display: block;
}

.hero-text{
    position: absolute;
    top: 90%;
    left: 90%;
    transform: translate(-50%,-50%);
    color: white;
    text-align: center;
    padding: 20px;
}   

/* Cards */

.feature-grid {
  background: #000; /* optional */
  width: 100%;
  justify-content: center;
}

.cards{
    display: grid;
    background-color: #731400;
    padding: 20px;
    grid-template-columns: repeat(2,1fr);
    gap: 30px;
    
}

.card{
    background-color: #fff;
    padding: 25%;
    border-radius: 12px;
    text-align: center;
}

/* .card:hover{
    background-color: silver;
    transition: 0.2s;
}
*/
