/* Main Image and Text  */

.hero-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1100px;
    margin: auto;
}

.hero-text{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: medium;
}

.herocontainer .hero-image{
    width: max-content;
    height: max-content;
}

.hero-container .hero-text{
    padding: 20px;
    width: 800px;
    background-color: var(--primary-white);
    margin: auto;
    border: 5px solid gray;
}

/* Grid and Cards */

.family-grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, 275px);
    height: 300px;
    gap: 5px;
    justify-content: center;
}

.family-card{
    padding: 2em;
    border: 5px solid gray;
    border-radius: 10px;
    background-color: var(--primary-white);
    text-align: center;
}