

/* Main Image and Text  */

.hero{
    width: 100%;
}

.hero-container{
    max-height: 600px;
    margin: 0 auto;
}

.hero-title{
    position: absolute;
    inset: 0;
    display: flex;
    align-items:flex-end;
    justify-content: center;
    color: var(--primary-white);
}

.hero-image img{
  width: 100%;
  height: 100%;
  object-fit: cover;   
  display: block;
}

.hero-text{
    flex: 0 0 300px;
    padding: 20px;
    background-color: var(--primary-white);
    display: flex;
    flex-direction: column;
    justify-content: center;
}


/* Grid and Cards */

.family-grid{
    display: grid;
    margin: 0  auto;
    grid-template-columns: repeat(2, 500px);
    height: auto;
    gap: 10px;
    justify-content: center;
    padding: 10px;
}

.family-card{
    padding: 2em;
    border-radius: 10px;
    background-color: var(--primary-white);
    text-align: center;
}

.card-image{
    padding: 10px;
}