/* HERO SECTION */

.hero{
    width: 100%;
}

.hero-image img{
  width: 100%;
  height: 100%;
  object-fit: cover;   
  display: block;
}

.hero-title{
    position: absolute;
    inset: 0;
    display: flex;
    align-items:flex-end;
    justify-content: center;
    color: var(--primary-white);
}



/* SIDEKICK SECTION */

.sidekick {
    margin: 0 auto;
    position: relative;
    justify-content: center;
}

.kick-container{
    display: flex;
    max-width: 1100px;
    background-color: gray;
    
    justify-content: center;
}

.kick-text {
    color: white;
    font-family: 'Times New Roman', Times, serif;
    padding: 20px;
    text-align: center;
    align-items: center;
}