*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: var();
}

:root {
    --primary-white: #FFFFFA;
    --primary-gray: #353535;
    --primary-black: #000103;
    --primary-graphite: #333138;
    --primary-cinnabar: #FF312E;
}
    
body {
    font-family: Montserrat;
    font-size: 18px;
    line-height: 1.5;
    padding-top: 80px;
    background-color: var(--primary-charcoal);
}

a {
    text-decoration: none;
    color: var(--primary-white);
}

ul {
    list-style: none;
}

img {
    max-width: 100%;
}

/* Utility Classes */

.container{
    width: min(1200px, 100% - 2rem); /* default for now */ /* Width: 92%; for mobile. */
    margin: 0 auto;
    padding: 0px;
}

/* Nav Bar */

.navbar{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9999;
    background-color: var(--primary-graphite);
    font-family: Montserrat;
    font-optical-sizing: auto;
    font-style: bold;
    transition: top 0.25s ease;
}

.navbar .container {
    display: flex;
    height: 100px;
    justify-content: space-between;
    align-items: center;
}

.navbar .menu-options ul{
    display: flex;
}

.navbar ul li a {
    display: flex;
    align-items: center;
    padding: 0px 15px;
    height: 80px;
    line-height: 1;
    
}

.navbar ul li a:hover {
    color: var(--primary-cinnabar);
    transition: 0.2s;
}

.logo img {
    padding-top: 8px;
    width: auto;    /* Keeps aspect ratio */
}
/* Buttons */

.btn {
    /* temp */
    display: inline-block;
    padding: 8px 15px;
    background: var(--primary-cinnabar); 
    border:2px solid var(--primary-compliment);
    cursor: pointer;
    transition: 0.1s;
}

.btn-text{
    color: var(--primary-white);
}

.btn:hover {
    opacity: 80%;    
}



/* Text Classes */ 

.text-xxl {
    font-size: 3rem;
    line-height: 1.2;
    font-weight: 600;
    margin: 40px 0 20px;
}

.text-xl {
    font-size: 2.2rem;
    line-height: 1.4;
    font-weight: normal;
    margin: 40px 0 20px;
}

.text-lg {
    font-size: 1.6rem;
    line-height: 1.4;
    font-weight: normal;
    margin: 30px 0 20px;
}

.text-md {
    font-size: 1.2rem;
    line-height: 1.4;
    font-weight: normal;
    margin: 20px 0 10px;
}

.text-sm {
    font-size: 0.9rem;
    line-height: 1.4;
    font-weight: normal;
    margin: 10px 0 5px;
}

.text-center{
    text-align: center;
}
