*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --primary-color: #DE2A04;
}
    
body {
    font-family: calibri;
    font-size: 18px;
    line-height: 1.5;
}

a {
    text-decoration: none;
    color: black;
}

ul {
    list-style: none;
}

img {
    max-width: 100%;
}

/* Utility Classes */

.container{
    max-width: 1100px; /* default for now */
    margin: 0 auto;
    padding: 0 10px;
    display: flex;
}

/* Nav Bar */

.navbar{
    padding: 15px;      
}

.navbar .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: solid 1px black;
}

.navbar .menu-options ul{
    display: flex;
}

.navbar ul li a {
    padding: 0px 10px;
    display: block;
    font-weight: 600;
    transition: 0.2s;
}

.navbar ul li a:hover {
    color: var(--primary-color);
}


/* Buttons */

.btn {
    /* temp */
    display: inline-block;
    padding: 8px 15px;
    background: var(--primary-color); 
    border:2px solid var(--primary-color);
    border-radius: 8px;
    cursor: pointer;
    transition: 0.1s;
}

.btn-text{
    color: white;
}

.btn:hover {
    background: rgba(190, 11, 11, 0.692);
    border: solid rgba(190, 11, 11, 0.692);
}



/* Text Classes */ 

.text-xxl {
    font-size: 3rem;
    line-height: 1.2;
    font-weight: 600;
    margin: 40px 0 20px;
}

.text-xl {
    font-size: 2.2rem;
    line-height: 1.4;
    font-weight: normal;
    margin: 40px 0 20px;
}

.text-lg {
    font-size: 1.8rem;
    line-height: 1.4;
    font-weight: normal;
    margin: 30px 0 20px;
}

.text-md {
    font-size: 1.2rem;
    line-height: 1.4;
    font-weight: normal;
    margin: 20px 0 10px;
}

.text-sm {
    font-size: 0.9rem;
    line-height: 1.4;
    font-weight: normal;
    margin: 10px 0 5px;
}

.text-center{
    text-align: center;
}