/* HERO SECTION */

.hero{
  margin: 0;
}

.hero-image{
  width: 100%;
  height: 100%;
}

.hero-image img{
  width: 100%;
  height: 100%;
  object-fit: cover;   
}



.hero-title{
  position: absolute;
  inset: 0;
  display: flex;
  align-items:flex-end;
  justify-content: center;
  color: var(--primary-white);
}


/* .hero-overlay { 
  position: absolute;
  inset: 0;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  padding: 20px;
}
*/

/* FEATURE / CARD SECTION */

.feature-grid {
  background-color: var(--secondary-red);
  padding: 20px 0px;
}

.feature-grid .container {
  gap: 20px;        
  max-width: 1100px;
  margin: 0 auto;
}

.cards {
  padding: 30px;
  display: grid;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  gap: 20px;
  text-align: center;
  max-width: 700px;
}

.card {
  background-color: var(--primary-gray);
  padding: 20px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
  transform: translateY(-5px);
}

.card-text {
  padding-bottom: 20px;
  color: white;
}

/* SECONDARY IMAGE SECTION */

.secondary {
  width: 100%;
  position: flex;
  flex-direction: end;
  margin: 60px auto;
  padding: 10px;
  background-color: var(--primary-graphite);
}

.secondary img {
  width: 100%;
  height: min(60vh, 500px);
  object-fit: cover;
  display: block;
}

.secondary-text {
  color: white;
  text-align: right;
  font-family: 'Courier New', Courier, monospace;
  max-width: 500px;
}

/* SIDEKICK SECITON  */

.sidekick{
  width: 100%;
  position: relative;
}

.sidekick img{
  width: 100%;
  height: auto;
  display: block;
  padding-bottom: 20px;
}


.sidekick-bottom {
  position: absolute;
  inset: 0;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  padding: 20px;
}

.sidekick-text {
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;   
  text-align: center;    
  gap: 20px;             
}

.sidekick::after{
  content:"";
  position:absolute;
  inset:0;
}

.sidekick-overlay{
  position:absolute;
  inset:0;
  display:flex;
  place-items: center;
  align-items:center;
  justify-content:center;
  padding:20px;
  z-index:1; /* above gradient */
}

/*  RESPONSIVE (MOBILE) */

@media (max-width: 768px) {

  .feature-grid .container {
    grid-template-columns: 1fr;
  }

  .hero-overlay,
  .secondary-overlay {
    justify-content: center;
    text-align: center;
  }

  .hero-text,
  .secondary-text {
    max-width: 90%;
  }
}
