/* Style sheet for the home page. */

/* Hero */
.hero {
    width: 100%;
    position: relative;
    max-width: 1300px;
    margin: 0 auto;
}

.hero img{
    width: 100%;
    height:auto;
    display: block;
}

.hero .hero-overlay{
    position: absolute;
    inset: 0;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    padding: 20px;
}

.hero .hero-text{
    position: static;
    transform: none;
    color: white;
    text-align: right;
    font-family: 'Courier New', Courier, monospace;
    max-width: 80%;
}   

/* Cards */

.feature-grid {
    padding-top: 10px;
    width: 100%;
    justify-content: center;
}

.feature-grid .container{
    padding: 0% 0%;
    padding-top: 10px;
}

.cards{
    display: grid;
    background-color: var(--primary-red  );
    padding: 20px 30px;
    grid-template-columns: repeat(2,1fr);
    gap: 30px;
}

.card{
    background-color: #fff;
    padding: 10px;
    text-align: center;
    border-radius: 5%;
}

/* Seconday Photo */

.secondary {
    width: 100%;
    position: relative;
    max-width: 1100px;
    margin: 0 auto;
}

.secondary img{
    width: 100%;
    height:auto;
    display: block;
}

.secondary .secondary-overlay{
    position: absolute;
    inset: 0;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    padding: 20px;
}

.secondary .secondary-text{
    position: static;
    transform: none;
    color: white;
    text-align: right;
    font-family: 'Courier New', Courier, monospace;
    max-width: 80%;
}

/* Estimate */

.estimate{
    padding: 20px;
}

.estimate-container{
    display: flex;
    padding: 10px;
    width: 800px;
    height: 200px;
}

.estimate .estimate-container{
    border: 5px solid darkred;
    background-color: white;
    align-items: center;
    justify-content: center;
}