/* Style sheet for the home page. */

/* Hero */
.hero {
    width: 100%;
    position: relative;
    max-width: 2000px;
    margin: 0 auto;
}

.hero img{
    width: 100%;
    height:auto;
    display: block;
}

.hero .hero-overlay{
    position: absolute;
    inset: 0;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    padding: 20px;
}

.hero .hero-text{
    position: static;
    transform: none;
    color: white;
    text-align: right;
    font-family: 'Courier New', Courier, monospace;
    max-width: 80%;
}   

/* Cards */

.feature-grid {
    display: grid;
    grid-template-columns: repeat(2, minmax(260px, 1fr));
    gap: 40px; /* this is your visible middle gap */
    align-items: start;
}



.feature-grid .container{
    padding: 10px 20px;
    padding-top: 10px;
}      

.cards{
    display: grid;
    background-color: var(--primary-red  );
    padding: 20px;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    gap: 30px;
    max-width: 600px;
}

.card{
    background-color: #fff;
    padding: 10px;
    text-align: center;
}

.card .card-text{
    padding-bottom: 15px;
}


/* Seconday Photo */

.secondary {
    width: 100%;
    position: relative;
    max-width: 900px;
    margin: 0 auto;
    padding-left: 10px;
    
}

.secondary img{
    width: 100%;
    height:auto;
    display: block;
}

.secondary .secondary-overlay{
    position: absolute;
    inset: 0;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    padding: 20px;
}

.secondary .secondary-text{
    position: static;
    transform: none;
    color: white;
    text-align: right;
    font-family: 'Courier New', Courier, monospace;
    max-width: 80%;
}

/* Estimate */

.estimate{
    padding: 20px;
}

.estimate-container{
    display: flex;
    padding: 10px;
    width: 800px;
    height: 200px;
}

.estimate .estimate-container{
    border: 5px solid darkred;
    background-color: white;
    align-items: center;
    justify-content: center;
}