/* Style sheet for the home page. */

/* Hero */
.hero {
    position: relative;
    width: 100%;
    max-width: 1100px;
    margin: 0 auto;
}

.hero img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.hero-text{
    position: absolute;
    top: 90%;
    left: 90%;
    transform: translate(10%,-40%);
    color: white;
    text-align: center;
    padding: 20px;
}   

/* Cards */

.feature-grid {
  background: #000; /* optional */
  width: 100%;
  justify-content: center;
}

.cards{
    display: grid;
    background-color: #731400;
    padding: 20px 30px;
    grid-template-columns: repeat(2,1fr);
    gap: 30px;
}

.card{
    background-color: #fff;
    padding: 10px;
    text-align: center;
}

/* Estimate */

.estimate{
    background-color: chocolate;
    width: auto;
}

.estimate-container{
    display: flex;
    padding: 10px;
    align-items: center;
    justify-content: center;
}