/* HERO SECTION */

.hero {
  width: 100%;
  position: relative;
}

.hero img {
  width: 100%;
  max-height: 650px;
  object-fit: cover;
  display: block;
}

.hero-overlay {
  position: absolute;
  inset: 0;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  padding: 20px;
}

.hero-text {
  color: white;
  text-align: right;
  font-family: 'Courier New', Courier, monospace;
  max-width: 500px;
}



/* FEATURE / CARD SECTION */

.feature-grid {
  background-color: var(--secondary-red);
  padding: 20px 0px;
}

.feature-grid .container {
  display: grid;
  grid-template-columns: repeat(2, minmax(260px, 1fr));
  gap: 40px;                
  align-items: start;
}

.cards {
  background-color: var(--primary-red);
  padding: 30px;
}

.card {
  background-color: white;
  padding: 20px;
  text-align: center;
}

.card-text {
  padding-bottom: 15px;
}



/* SECONDARY IMAGE SECTION */

.secondary {
  width: 100%;
  position: relative;
  margin: 60px auto;
}

.secondary img {
  width: 100%;
  height: min(60vh, 500px);
  object-fit: cover;
  display: block;
}

.secondary-overlay {
  position: absolute;
  inset: 0;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  padding: 20px;
}

.secondary-text {
  color: white;
  text-align: right;
  font-family: 'Courier New', Courier, monospace;
  max-width: 500px;
}

/* SIDEKICK SECITON  */

.sidekick{
  width: 100%;
  position: relative;
}

.sidekick img{
  width: 100%;
  height: auto;
  display: block;
}


.sidekick-bottom {
  position: absolute;
  inset: 0;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  padding: 20px;
}

.container .sidekick-text{
    display: block;
    color: white;
    padding: 10px;
}

.sidekick::after{
  content:"";
  position:absolute;
  inset:0;
  background: linear-gradient(to top, rgba(0,0,0,0.55), rgba(0,0,0,0));
}

.sidekick-overlay{
  position:absolute;
  inset:0;
  display:flex;
  place-items: center;
  align-items:center;
  justify-content:center;
  padding:20px;
  z-index:1; /* above gradient */
}

/*  RESPONSIVE (MOBILE) */

@media (max-width: 768px) {

  .feature-grid .container {
    grid-template-columns: 1fr;
  }

  .hero-overlay,
  .secondary-overlay {
    justify-content: center;
    text-align: center;
  }

  .hero-text,
  .secondary-text {
    max-width: 90%;
  }
}
