
/* HERO SECTION */

.hero {
    margin: 0 auto;
    padding: 15px;  
}

.hero-main-img{
    position: relative;
    width: 100%;
    height: 600px;
    overflow: hidden;
}

.hero-main-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.hero-title{
    position: absolute;
    inset: 0;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    color: var(--primary-white);
    padding-bottom: 20px;
}

/* IMAGE SECTION */

.img-card {
    position: relative;
    overflow: hidden;
}

.hero-images img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    aspect-ratio: 1 / 1;
}

.img-card img {
    width: 100%;
    height: 100%;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    display: block;
    transition: transform 0.3s ease;
}

.img-overlay {
    position: absolute;
    inset: 0;
    background: black;
    display: flex;
    align-items: flex-end;
    justify-content: center;

    opacity: 0;
    transition: opacity 0.3s ease;
}

.hero-images {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

.img-text{
    color: white;
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 30px;
}

.img-card:hover .img-overlay {
    opacity: 0.6;
}

.img-card:hover img {
    transform: scale(1.05);
}
