/* HERO SECTION */

.hero{
    width: 100%;
}


.hero-title{
    position: absolute;
    inset: 0;
    display: flex;
    align-items:flex-end;
    justify-content: center;
    color: var(--primary-white);
}

.hero-image img{
  width: 100%;
  height: 100%;
  object-fit: cover;   
  display: block;
}


/* SERVICE LIST SECTION */

.hero-service-list {
    display: grid;
    grid-template-rows: repeat(3, auto);
    gap: 10px;
    background-color: white;

}

.service-card{
    position: relative;
    overflow: hidden;
    padding: 10px;
    border: 10px solid black;
}

.service-text{
    padding: 20px;
    flex-direction: column;
    justify-content: center; 
    font-size: 1.2rem;
    font-weight: bold;
}